<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="images/favicon.png" type="image/x-icon" />
		<link rel="stylesheet" href="css/fonts.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/translate.css">
		<link rel="stylesheet" href="css/footer.css">
		<link rel="stylesheet" href="css/menu.css">
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/keyboard.css">
		<link rel="stylesheet" href="css/tutorial.css">

		<title>2Braile</title>
	</head>
	<body>

		<main class="translate" id="main-content">
			<form action="/" method="post">
				<div id="in">
					<textarea name="entradaTraducao" id="area-in" cols="50" rows="30" class="use-keyboard-input" placeholder="Digite o texto a ser traduzido..."></textarea> 
				</div>
				<div>
					<div id="containerBotoes">
						<div id="clear">
							<abbr title="Apagar texto do input"><a><img src="images/eraser.png" alt=""></a></abbr>
						</div>
							<div id="file">
								<label><img id="imgUpload" src="images/uploadFile.png" alt=""><input id="upload" type="file" name="inputFile" accept="text/*, .txt, .pdf, .xml, .html"></label>
							</div>
					</div>
					<div id="arrow-button">
						<button id="botaoSubmit"><abbr title="Traduzir"><img id="arrow" src="images/arrow-long-right.svg" alt=""></abbr></button>
					</div>
				</div>
				<div id="out">
					<textarea disabled name="traducao" id="area-out" cols="50" rows="30" placeholder="Sua tradução aparecerá aqui...">
						<% if(textoTraduzido.length > 0) for(var i = 0; i < textoTraduzido.length; i++) { %>
							<%=textoTraduzido[i]%>
						<% } %></textarea>
				</div>
				<div id="containerBotoes">
					<div id="copy">
						<abbr title="Copiar para área de transferência"><a><img src="images/copy.png" alt="" id="img-copy"></a></abbr>
					</div>
					<div id="file">
						<abbr title="Apagar texto do input"><a id="open-save"><img id="save-btn" src="images/diskette.png" alt=""></a></abbr>
					</div>
					<div id="file">
						<abbr title="Baixar tradução"><a id="baixar"><img id="baixar-btn" src="images/baixar.svg" alt=""></a></abbr>
					</div>
				</div>
			</form>
		</main>

		<div id="save">
			<form action="/salvar" method="post">
				<div id="tutorial">
					<div id="slides">
						<img src="images/close.svg" alt="" id="close-tutorial">
						<input type="text" name="inputForm" id="input-form">
						<input type="text" name="outputForm" id="output-form">
						<input type="text" name="nomeTraducao" placeholder="Nome da sua tradução"/>
						<button id="send-post-save">Salvar</button>
					</div>
				</div>
			</form>
		</div>

		<footer>
			<p>2Braile - Conversor didático para Braile - 2022</p>
		</footer>

		<script src="js/fileUpload.js"></script>
		<script src="js/copyClipboard.js"></script>
		<script src="js/showFormatted.js"></script>
		<script src="js/keyboard.js"></script>
		<script src="js/disableKeyboardToSmartphones.js"></script>
		<script src="js/cleanInput.js"></script>
		<script src="js/saveInputText.js"></script>
		<script src="js/disableTranslateIfTextNull.js"></script>
		<script src="js/save.js"></script>
		<script src="js/formText.js"></script>
		<script src="js/downloadImage.js"></script>
	</body>
</html>
