<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="images/favicon.png" type="image/x-icon" />
		<link rel="stylesheet" href="css/fonts.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/login.css">
		<title>2Braile</title>
	</head>
	<body>
		<main class="login" id="main-content">
			<div class="login-page">
				<div class="form">
				  <form class="register-form" action="/auth/registro" method="post">
					<input type="text" name="nomeCadastro" placeholder="Nome"/>
					<input type="password" name="senhaCadastro" placeholder="Senha"/>
					<input type="text" name="emailCadastro" placeholder="Endereço de e-mail"/>
					<button>create</button>
					<p class="message">Já tem registro? <strong></strong><a href="#">Sign In</a></strong></p>
				  </form>
				  <form class="login-form">
					<input type="text" name="emailLogin" placeholder="Email"/>
					<input type="password" name="senhaLogin" placeholder="Senha"/>
					<button>Login</button>
					<p class="message">Não tem registro? <strong><a href="#">Crie sua conta</a></strong></p>
				  </form>
				</div>
			  </div>
		</main>

		<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
		<script src="js/login.js"></script>
	</body>
</html>
