<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="images/favicon.png" type="image/x-icon" />
		<link rel="stylesheet" href="css/fonts.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/translate.css">
		<link rel="stylesheet" href="css/footer.css">
		<link rel="stylesheet" href="css/menu.css">
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/keyboard.css">
		<link rel="stylesheet" href="css/usuario.css">

		<title>2Braile</title>
	</head>
	<body>
		<main class="user-page" id="main-content">
			<div class="perfil">
                <div class="login-page">
                    <div class="form">
                      <form class="login-form" action="/logout" method="post">
                        <p>Bem vindo, <%= mensagem.nome%></p>
                        <input type="text" disabled placeholder=<%= mensagem.email %>>
						<button id="logout-button"><img src="images/log-out.svg" alt=""></button>
                      </form>
                    </div>
                  </div>
			</div>
            <div class="historicos">
				<form action="/editar" method="post">
					<h1>Históricos de Traduções:</h1>
					<% if(historico) {%>
						<% for(var i = 0; i < historico.length; i++) {%>
							<div class="historico">
								<p><%= historico[i].input %></p>
								<p><%= historico[i].traducao %></p>
								<button class="edit">editar</button>
							</div>
						<% }%>
					<% }%>
				</form>
            </div>
		</main>

		<footer>
			<p>2Braile - Conversor didático para Braile - 2022</p>
		</footer>

	</body>
</html>