body {
    overflow-y: hidden;
}

.translate {
    margin-bottom: 10vh;
}

#save-btn {
    width: 24px;
}

textarea{
  font-family: "Roboto", sans-serif;
  outline: 0;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #445863;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #5B7482;
}

input{
    font-family: "Roboto", sans-serif;
    outline: 0;
}
  
#save button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #445863;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
#save button:hover, #saveform button:active, #save button:focus {
    background: #5B7482;
}

#save input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

@media only screen and (min-width : 500px) {
    .translate form {
        margin-left: calc(50vw - 36.5vw);
        display: grid;
        padding-top: 3vh;
        grid-template-columns: 33vw 8vw 33vw 5vw;
    }

    textarea {
        width: 30vw;
        height: 70vh;
        font-size: 4vh;
    }

    #arrow {
        width: 4vw;
    }

    #copy, #clear {
        width: 24px;
    }

    #arrow-button button{
        margin-top: 28vh;
        margin-left: 1vw;
    }
}

@media only screen and (max-width : 500px) {
    #containerBotoes{
        flex-direction: row-reverse;
    }

    .translate form {
        display: grid;
        margin-left: 17vw;
        padding-top: 2vh;
        grid-template-rows: 32vh 12vh 31vh 3vh;
        width: 66vw;    
    }

    textarea {
        width: 66vw;
        height: 30vh;
        font-size: 2.2vh;
    }

    #arrow {
        transform: rotate(90deg);
    }

    #copy, #clear, #file {
        width: 26px;
    }

    #arrow-button button{
        margin-left: 28vw;
    }
}

textarea {
    border-radius: 2px;
    resize: none;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%), 0 5px 5px 0 rgb(0 0 0 / 14%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2vh;
    font-family: 'Noto Sans', sans-serif;
    border: 0;
}

#copy, #clear, #file{
    display: inline-block;
    width: fit-content;
    border: solid 1px rgba(0, 0, 0, 0.2);
    height: 26px;
    border-radius: 4px;
    margin: 0.5vw 0.2vw;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%), 0 5px 5px 0 rgb(0 0 0 / 14%);
}

#containerBotoes{
    display: flex;
    flex-direction: row;
}

#arrow-button button{
    background-color: #445863; 
    border: 0; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05), -5px -5px 20px rgba(0, 0, 0, 0.05); 
    border-radius: 3px; 
}

#img-copy, #imgUpload {
    display: inline-block;
    pointer-events: none;
    width: 22px;
    padding: 2px;
}

label{
    display: inline-block;
} 

input[type="file"] {
    display: none;
}

#retorno-save {
    display: none;
    padding: 5px;
    color: white;
    border-radius: 3px;
    background-color: rgba(0, 128, 0, 0.7);
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}