.login-page {
    width: 25vw;
    padding: 8% 0 0;
    margin-left: 2vw;
    position: fixed;

}

.form{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.historico {
    background: #FFFFFF;
    width: 45vw;
    padding: 45px;
    margin-left: 40vw;
    margin-top: 5vh;
    word-wrap: break-word;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

h1 {
    margin-left: 52vw;
    color: #4f6470;
}

#logout-button {
    background-color: #4f6470;
    border-radius: 5px;
    border-width: 0.5px;
}
body, html {
    overflow: visible;
}

@media only screen and (max-width : 500px) {
    .login-page {
        position: sticky;
        width: 95vw;
        margin: 0;
        margin-left: 2vw;
    }

    .historico{
        margin-left: 1vw;
        width: 98vw;
    }

    h1 {
        margin-left: 10vw;
    }
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.edit {
    float: right;
}

.historico:last-child {
    margin-bottom: 20vh;
}

.edit{
    display: inline-block;
    width: fit-content;
    border: solid 1px rgba(0, 0, 0, 0.2);
    height: 26px;
    border-radius: 4px;
    margin: 0.5vw 0.2vw;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%), 0 5px 5px 0 rgb(0 0 0 / 14%);
    padding-bottom: 27px;
}

